#contact{
    width: 100vw;
    height: fit-content;
}
#contact .information_header{
    margin-top: 100px;
    margin-bottom: 10px;
}
#contact_content{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}
#contact_media{
    width: 50vw;
    padding: 0 5vw 0 5vw;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#contact_media_text{
    position: relative;
    width: 100%;
    height: 250px;
    font-size: 8.7em;
    font-weight: 800;
    text-align: right;
    background: url(../images/coffee5.jpeg) no-repeat;
    background-size: 100% auto;
    background-position: bottom;
    border: 1px #111 solid;
}
#contact_media_text p{
    width: 96%;
    height: calc(100% - 20px);
    background: #000000aa;
    /* -webkit-text-stroke: 1px var(--purple); */
    color: var(--purple);
    padding: 0 2% 20px 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact_media_links{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
#contact_media_links .item{
    width: 15%;
    height: 80px;
    /* background: linear-gradient(45deg, #0f0f0f, #111, #141414, #111, #0f0f0f); */
    background: linear-gradient(22deg, #0c001b , #1e0638 43% 56%, #110023);
    border-radius: 15px;
    margin-top: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    cursor: pointer;
}
#contact_media_links .item:hover{
    background: linear-gradient(45deg, #111111, #1d1d1d, #1f1f1f, #1d1d1d, #111111);
}

#contact_email{
    width: 35vw;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#contact_email .box{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--purple);
    padding-bottom: 40px;
    border-radius: 10px;
}

#contact_email .box header{
    width: 100%;
    letter-spacing: 2px;
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 5px;
}
#contact_email .box div{
    width: 95%;
    height: fit-content;
    margin-top: 20px;
}
#contact_email .box div p{
    width: 100%;
    font-size: 2.4em;
    margin-bottom: 5px;
}
#contact_email .box div input{
    width: 98%;
    padding-left: 2%;
    height: 40px;
    border:1px var(--purple-faded-light) solid;
    background: transparent;
    color: #ddd;
}
#contact_email .box div textarea{
    width: 96%;
    padding: 5px 2% 5px 2%;
    height: 100px;
    background-color: transparent;
    border:1px var(--purple-faded-light) solid;
    color: #ddd;
}

#contact_email .box div button{
    width: 100%;
    height: 40px;
    background: var(--purple); 
    border: 1px #222 solid;
    color: #ddd;
    font-size: 2em;
}

#email_ad{
    width: 90%;
    max-height: 150px;
    background: linear-gradient(45deg, #0f0f0f, #111, #141414, #111, #0f0f0f);
    margin-top: 40px;
    flex-shrink: 0;
}


@media (max-width: 810px) {
    #contact_content{
        flex-direction: column;
        justify-content: center;
    }
    #contact_media{
        width: 90vw;
    }
    #contact_email{
        width: 90vw;
        margin: 0 auto 0 auto;
        height: fit-content;
    }
    #contact_email .box{
        width: 450px;
        margin-top: 45px;
    }
    
    #email_ad{
        display: none;
    }
}
@media (max-width: 550px) {
    #contact_media_text{
        font-size: 7.7em;
    }
    #contact_media_links .item{
        height: 55px;
        font-size: 3em;
        border-radius: 3px;
    }
    #contact_email .box{
        width: 90vw;
    }
}


/*
help me come up with a topical map for my blog that has the best
chance of helping me rank fo long tail keywords that are specific to my
keyword "<keywords>" and give each a clickbait style title. Provide
a list of 10 titles and prioritize transactional intent topics.
Next to each title, and the best longtail keyword pharse that title should be
targeting. Do not duplicate keyword phrases.
*/