/*Welcome Section*/
#Welcome{
    position: relative;
    height: 100vh;
    width: 100vw;
    color: white;
    left: -1vw;
    display: flex;
    background:rgb(20, 18, 20);
    background-size: 100vw 100%;
    box-shadow: 0.5vw 0.5vw 0.5vw black;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

   /*The part that contains the running text display*/     
   #welcome_display{
        height: 30vh;
        width:100%;
        background-color: #282828;
        box-shadow: -0.5vw 0.5vw 0.5vw rgb(40, 30, 30);
        display: flex;
    }
    #display_text{
        color: #33FF33;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        height: fit-content;
        font-size: 1.6rem;
        word-wrap:break-word;
        padding: 2vw;
        margin-top: 8vh;
        border-radius: 2vw;
    }
    /*The part that contains my name*/
    #info{
        height: 70%;
        width: 100%;
        background: url('images/home.avif') no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

        #con{
            left: 0;
            margin-left: 5vw;
            width: fit-content;
            height: fit-content;
            display: flex;
            align-self: flex-start;
        }   

            #name{
                height: 50%;
                padding:1vw;
                color: black;
                font-size: 2.3rem;
                font-weight: 700;
                border-bottom: 1px black solid;
                border-right: 1px black solid;
            }    

            /*animation for the webdeveloper text*/
            #webdev{
                height: 50%;
                color: black;
                font-size: 2rem;
                font-family:Arial, Helvetica, sans-serif;
                font-weight: 400;
                animation-name: dev;
                animation-duration: 6s;
                animation-iteration-count: 1;
                padding:1vw;
                border-top: black solid 0.05vw;
            }
            
            @keyframes dev {
                0% { 
                transform: rotate(0); 
                transform-origin: top left; 
                animation-timing-function: ease-in-out; 
                }
                20%, 60% { 
                transform: rotate(80deg); 
                transform-origin: top left; 
                animation-timing-function: ease-in-out; 
                }
                40% { 
                transform: rotate(60deg); 
                transform-origin: top left; 
                animation-timing-function: ease-in-out; 
                }
                80% { 
                transform: rotate(60deg) translateY(0); 
                opacity: 1; 
                transform-origin: top left; 
                animation-timing-function: ease-in-out; 
                }
                100% { 
                transform: translateY(700px); 
                opacity: 0.1; 
                } 
            } 

 #bio_display{
    width: 100%;
    display: flex;
    justify-content: center;
 }

.display{
    max-width: 45vw;
    min-width: 500px;
    height: 40vh;
    background: linear-gradient(90deg, #FFFFFF, #DDDDFF, #EEEEFF, #FFFFFF);
    border-radius: 0.5rem;
    display: grid;
    grid-template-rows: 70% 30%;
}
.display .display_text{
    font-size: 1vw;
}

.display .display_pic{
    background-color: #282828;
}