/*Welcome Section*/
#Welcome{
    position: relative;
    height: 100vh;
    width: 100vw;
    color: white;
    left: -1vw;
    display: flex;
    background:rgb(20, 18, 20);
    background-size: 100vw 100%;
    box-shadow: 0.5vw 0.5vw 0.5vw black;
    z-index: 1;
}
    /*The part that contains my name*/
    #info{
        height: 98%;
        width: 40%;
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

        #con{
            width: fit-content;
            height: fit-content;
            display: flex;
            margin-top: 20%;
        }   

            #name{
                height: 50%;
                background-color: black;
                padding:1vw;
                font-size: 1.5vw;
                box-shadow: -0.8vw -0.8vw 0.7vw black;
                border: black solid 0.1vw;
                font-family: "Bradley Hand ITC";
            }    

            /*animation for the webdeveloper text*/
            #webdev{
                height: 50%;
                background-color: black;
                color: salmon;
                font-size: 1.1vw;
                font-family: Kristen ITC;
                box-shadow: -0.08em -0.1em 0.1em black;
                animation-name: dev;
                animation-duration: 6s;
                animation-iteration-count: 1;
                padding:1vw;
                box-shadow: -1vw -1vw 1.1vw black;
                border: white solid 0.05vw;
                border-bottom: none;
            }
            
            @keyframes dev {
                0% { 
                transform: rotate(0); 
                transform-origin: top left; 
                animation-timing-function: ease-in-out; 
                }
                20%, 60% { 
                transform: rotate(80deg); 
                transform-origin: top left; 
                animation-timing-function: ease-in-out; 
                }
                40% { 
                transform: rotate(60deg); 
                transform-origin: top left; 
                animation-timing-function: ease-in-out; 
                }
                80% { 
                transform: rotate(60deg) translateY(0); 
                opacity: 1; 
                transform-origin: top left; 
                animation-timing-function: ease-in-out; 
                }
                100% { 
                transform: translateY(700px); 
                opacity: 0.1; 
                } 
            } 

    /*The part that contains the projects*/     
    #welcome_display{
        height: 99vh;
        width:55%;
        background-color: black;
        border:0.2vw rgb(40, 0, 0) solid;
        box-shadow: -0.5vw 0.5vw 0.5vw rgb(40, 30, 30);
        margin-left: 4%;
        display: flex;
    }
    #display_text{
        color: rgb(26, 119, 2);
        height: fit-content;
        font-size: 3vh;
        word-wrap:break-word;
        padding: 2vw;
        margin-top: 5vh;
        border:0vw rgb(40, 0, 0) solid;
        border-radius: 2vw;
    }

    /* Grid space for the projects*/
    #tiles{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 40%;
        border-radius: 1vw;
        overflow-y:scroll;
        overflow-x: hidden;
    }

    #tiles .protiles {
        width: 19vw;
        height: 20vh;
        margin-bottom: 1vh;
    }