

nav{
    width: 96%;
    padding: 0 2% 0 2%;
    height: 60px;
    color: var(--violet);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    width: fit-content;
    font-size: 4em;
    font-weight: 700;
}

#links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 60%;
    margin-right: 3%;
}
#links a{
    font-size: 2.5em;
    font-weight: 600;
}
#links a:hover{
    color: #8d31ef;
}

#welcome{
    width: 100%;
    height: 100vh;
    /* background: url('../images/spaceship1.jpeg') no-repeat; */
    background: url('../images/keyboard5.jpeg') no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
#welcome .main{
    width: 100vw;
    height: calc(100% - 60px);
    display: flex;
    flex-wrap: wrap;
}
#dialouge{
    width: 55%;
    padding-left: 3%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--verdana);
    color: #ccc;
}
#dialouge .cover{
    height: fit-content;
}
.dialouge_text{
    width: fit-content;
    height: fit-content;
    color: var(--light-violet);
    font-weight: 900;
}

#dialouge1{
    width: 60%;
    margin-top: 25px;
    min-height: 100px;
    font-family: Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
}
#dialouge1_header{
    width: 20em;
    font-size: 4.5em;
    font-weight: 600;
    line-height: 110%;
    color: var(--light-violet);
}
#dialouge1_subheader{
    width: 37em;
    font-size: 3.3em;
    font-weight: 400;
    color: #d4d4d4;
    line-height: 150%;
    margin-top: 10px;
    text-align: left;
    transition: 1s;
}
#dialouge2{
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    color: var(--light-violet);
    border-radius: 10px;
}
#dialouge2_text{
    max-width: 90%;
    text-align: center;
    font-size: 3em;
}
#dialouge2_text2{
    max-width: 90%;
    text-align: center;
    font-size: 2em;
}
#stickman1{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0%;
    top: 0px;
    transition: 1.5s;
}
#dialouge3{
    margin-top: 40px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
#dialouge3_ins{
    font-size: 1.7em;
}
#dialouge3 ion-icon{
    font-size: 3em;
    color: #ff060e ;
    margin-left: 10px;
}
#lets_connect{
    width: fit-content;
    padding: 15px 15px;
    font-size: 2.3em;
    font-weight: 700;
    background-color: var(--purple);
    /* background: linear-gradient(22deg, #0c001b , #1e0638 43% 56%, #110023) no-repeat; */
    color: #fff;
    box-shadow: 0px 0px 1px 1px var(--purple-soft);
    /* border: 1px #bbb dashed; */
    font-family: var(--sans);
    margin-bottom: 15px;
    cursor: pointer;
}
.important{
    display: flex;
    align-items: center;
    padding: 5px 1px 0 1px;
    border-bottom: 1px #fff solid;
    border-top: 1px #fff solid;
    cursor: pointer
}
.important:hover{
    background-color: var(--main-bg);
}
#chat{
    width: 33%;
    padding-right: 2%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#chatapp{
    position: relative;
    width: 300px;
    height: 90%;
    max-height: 650px;
    background: linear-gradient(22deg, #0c001b , #1e0638 43% 56%, #110023) no-repeat;
    /* background: url(../images/chatbackgrounddark.jpg) no-repeat;
    background-size: 100% 100%; */
    color: #c2c2c2;
    border-radius: 10px;
    border: 4px #6c6a6a solid;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    flex-shrink: 0;
    transform: translate(-400px, -200px);
    transition: 1.2s;
    font-family: var(--verdana);
}
#chatapp .header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    font-size: 2em;
    font-weight: 600;
    background-color: #00000066;
    z-index: 100;
}
#chatapp .header ion-icon{
    font-size: 1.3em;
    margin-right: 5px;
}
#chatapp .header p{
    font-weight: 400;
    margin-right: 7px;
}
#chatappfla{
    width: 3px;
    height: 3px;
    background: #bbb;
    border: 5px #000 solid;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: auto;

}
#chatbox{
    width: 96%;
    padding: 35px 2% 5vh 2%;
    height: calc(100% - 3% - 15% - 30px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
#chatbox::-webkit-scrollbar{
    width: 0px;
}
.chat{
    min-width: 46%;
    width: fit-content;
    max-width: 80%;
    background-color: #dedede;
    color: #111;
    height: fit-content;
    margin-top: 5px;
    border-radius: 5px;
    flex-shrink: 0;
    padding: 10px 2% 10px 2%;
    font-size: 2.4em;
    border: 1px #333333 solid;
}

.chatright{
    align-self: flex-end;
    background: linear-gradient(45deg, #444, #555, #444);
    color: #eee;
}

#chat_action{
    width: 100%;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.chat_action{
    width: 44%;
    height: 48%;
    margin-bottom: 2px;
    border-radius: 5px;
    padding: 0 1% 0 1%;
    background: linear-gradient(22deg, #2f025e , #45028d 43% 56%, #2f025e);
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}
.chat_action:hover{
    background-color: #aaa;
}

#phonebutton{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00000066;
}
#phonebutton div{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#phonebutton ion-icon{
    font-size: 3em;
    color: #fff;
}
#phonebuttonhome{
    width: 30px;
    height: 30px;
    background: #000;
    border: 2px #eee solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}






.jaskin_tech{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--purple);
    font-size: 8em;
    font-weight: 600;
    letter-spacing: 2px;
}


.flow_image{
    width: 100%;
    height: fit-content;
    margin-bottom: 100px;
}
.flow_image img{
    height: auto;
}
.flow_image2{
    display: none;
}



@media (max-width: 800px) {
    #welcome{
        height: fit-content;
    }
    #welcome .main{
        flex-direction: column-reverse;
        height: fit-content;
    }
    #welcome nav{
        align-self: start;
    }
    #dialouge{
        width: 97%;
        height: fit-content;
        min-height: 40vh;
    }  
    #dialouge1{
        margin-top: 30px;
    }
    #dialouge2{
        width: 90%;
        margin-top: 20px;
    }
    #chat{
        width: 100%;
        padding: 0;
        justify-content: center;
        padding-top: 4vh;
        padding-bottom: 10vh;
    }
    #chatapp{
        height: 80vh;
    }
    t{
        display: none
    }

    #links a{
        font-size: 2.4em;
    }
    
   .jaskin_tech{
    font-size: 5em;
   }
}


@media (max-width: 550px) {
    #logo{font-size: 3em;color: #8d31ef;}
    #links{
        display: none;
    }
    #dialouge{
        /* display: none; */
        width: 85%;
        margin: 0 auto 30px auto;
        padding-left: 0%;
    }
    #dialouge .cover{
        min-height: 300px;
    }
    #dialouge1{
        width: 100%;
        min-height: 150px;
    }
    #dialouge1_header{
        text-align: left;
        width: 100%;
        font-size: 3.5em;
        font-weight: 300;
        color: var(--light-violet);
        text-align: center;
    }
    #dialouge1_subheader{
        font-size: 3em;
        width: 100%;
        text-align: center;
        color: #bbb;
        line-height: 160%;
    }
    #dialouge2{
        width: 100%;
        height: 160px;
        padding: 20px 0 20px 0;
        justify-content: start;
        margin-top: 50px;
    }
    #dialouge .cover{
        display: flex;
        flex-direction: column;
    }
    #dialouge3{
        align-items: center;
    }
    #lets_connect{
        padding: 10px 20px 10px 20px;
    }
    #dialouge3 .cover{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #dialouge3 ion-icon{
        margin-left: 0;
    }
    .mobile-hide{
        display: none;
    }
    .mobile-hide{
        display: none !important;
    }
    .flow_image1{display: none;}
    .flow_image2{display: block;}
    .jaskin_tech{
        font-size: 4.5em;
        height: 45vh;
    }
}
@media (max-height: 450px) {
    #welcome{
        height: fit-content;
    }
    #dialouge1{
        font-size: 3.8em;
    }
    #dialouge2{
    } 
    .mobile-hide{
        display: none !important;
    }
}