---
title: AICE Projects
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head %}
    <link rel="stylesheet" href="style.css">
    <script src="app.js"></script>
</head>
<body>
    <div id="screen"></div>
    <main>
        {% include nav.html %}
        <h1><i>A</i>LX <i>A</i>ICE <i>C</i>OURSE</h1>

        <div>
            
            <div class="p_item">
                <div class="p_item_img">
                    <img src="/images/digitalmusic.jfif" alt="">
                </div>
                <div class="p_item_text">
                    <header>AI Music</header>
                    <p>               
                        I used Udio AI to effortlessly generate high-quality audio, from music tracks to voiceovers, making the creation process both efficient and innovative.
                    </p>
                    <div class="p_item_ts">
                        <p class="ts_item">A I</p>
                        <p class="ts_item">Udio</p>
                    </div>
                    <a target="_blank" href="https://www.udio.com/songs/64n3KcCz3L2PcXC7N2CM3F" class="action_button">View Creations</a>
                </div>
            </div>

            <div class="p_item">
                <div class="p_item_img">
                    <img src="/images/ai_vidoe.jfif" alt="">
                </div>
                <div class="p_item_text">
                    <header>AI Videos</header>
                    <p>               
                        I used Pika AI to generate stunning videos effortlessly, transforming concepts into dynamic visuals with advanced AI technology for impressive results.
                    </p>
                    <div class="p_item_ts">
                        <p class="ts_item">Pika A I</p>
                        <p class="ts_item">A I</p>
                    </div>
                    <a target="_blank" href="https://pika.art/" class="action_button">Learn more</a>
                </div>
            </div>

            <div class="p_item">
                <div class="p_item_img">
                    <img src="/images/info.jpg" alt="">
                </div>
                <div class="p_item_text">
                    <header>Infographics</header>
                    <p>               
                        Used inforgram.com ai tool to generate a visual representation of data
                    </p>
                    <div class="p_item_ts">
                        <p class="ts_item">A I</p>
                        <p class="ts_item">inforgram.com</p>
                    </div>
                    <a target="_blank" href="https://infogram.com/average-salaries-per-job-title-1hxj48m30glzq2v?livem" class="action_button">Infographic</a>
                    <a target="_blank" href="https://infogram.com/average-salaries-per-job-title-1hxj48m30glzq2v?live" class="action_button">Infographic</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>