#information{
    width: 100%;
    height: fit-content;
    background: url(images/background2.jpeg) no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    padding: 80px 0 10vh 0;
    color: var(--light-violet);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.information_header{
    width: 94%;
    padding: 0 3% 40px 3%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--purple);
}
.information_header h2{
    font-size: 4em;
}
.information_header h3{
    font-size: 3.5em;
    font-weight: 400;
}

#service_information{
    width: 94%;
    padding: 0 3% 0 3%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#service_information .item{
    width: 32%;
    height: 500px;
    display: flex;
    flex-direction: column;
}
#service_information .item .image_frame{
    width: 100%;
    height: 230px;
}
#service_information .item .info{
    width: 94%;
    padding: 15px 3% 15px 3%;
    height: 240px;
}
#service_information .item .info header{
    font-size: 2.6em;
    margin-bottom: 10px;
    font-weight: 700;
}
#service_information .item .info p{
    font-size: 3em;
    color: #aaa;
}
.learn_more{
    display: block;
    width: fit-content;
    padding: 10px 15px 10px 15px;
    background-color: var(--purple);
    color: #ddd;
    font-size: 2.4em;
    font-weight: 800;
    margin-top: 20px;
    cursor: pointer;
}



#portfolio_see_more{
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media (max-width: 800px) {
    .information_header{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
        text-align: center;
    }
    .information_header h2{
        font-size: 3.4em;
    }
    .information_header h3{
        font-size: 2.9em;
    }
    #service_information .item{
        width: 95%;
        height: fit-content;
        margin-bottom: 20px;
    }
    #service_information .item .image_frame{
        height: 210px;   
    }
    
    #service_information .item .info{
        height: fit-content;
        margin-bottom: 50px;
    }
}