*{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body{
    background-color: #111;
    width: 100vw;
    font-size: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track{
    background-color: #000;
    border-left: 1px #2c2c2c solid;
}
body::-webkit-scrollbar-thumb{
    background-color: #222;
}
nav{
    width: 96%;
    padding: 0 2% 0 2%;
    height: 60px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav i{
    font-size: 150%;
}
#logo{
    width: fit-content;
    font-size: 4em;
}

#links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 60%;
    margin-right: 3%;
}
#links a{
    text-decoration: none;
    color: #fff;
    font-size: 3em;
}

#welcome{
    width: 100%;
    height: calc(100vh - 50px);
    background: url(images/business_empire.jpg) no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#dialouge{
    width: 57%;
    padding-left: 3%;
    height: 100%;
    display: flex;
    justify-content: left;
    background-color: #000000bb;
    flex-direction: column;
}
.dialouge_text{
    width: fit-content;
    height: fit-content;
    color: #fff;
    font-weight: 900;
    /* -webkit-text-stroke: 1px #ece0ed; */
}
.dialouge_text i{
    font-size: 150%;
}
#dialouge1{
    font-size: 6em;
    margin-top: 60px;
}
#dialouge2{
    font-size: 3em;
    font-size: 600;
}
.important{
    display: flex;
    align-items: center;
    padding: 5px 1px 0 1px;
    border-bottom: 1px #fff solid;
    border-top: 1px #fff solid;
    cursor: pointer
}
.important:hover{
    background-color: #fcfcfc33;
}
#chat{
    width: 38%;
    padding-right: 2%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000bb;
}
#chatapp{
    position: relative;
    width: 320px;
    height: 90%;
    background: url(images/chatbackground.jpg) no-repeat;
    background-size: 100% 100%;
    color: #eee;
    border-radius: 10px;
    border: 5px #0e142b solid;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    flex-shrink: 0;
}
#chatapp .header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    font-size: 2em;
    font-weight: 600;
    background-color: #00000066;
    z-index: 100;
}
#chatapp .header ion-icon{
    font-size: 1.3em;
    margin-right: 5px;
}
#chatapp .header p{
    font-weight: 400;
    margin-right: 7px;
}
#chatappfla{
    width: 3px;
    height: 3px;
    background: #bbb;
    border: 5px #000 solid;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: auto;

}
#chatbox{
    width: 96%;
    padding: 15px 2% 5vh 2%;
    height: calc(100% - 3% - 15% - 30px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
#chatbox::-webkit-scrollbar{
    width: 0px;
}
.chat{
    min-width: 46%;
    width: fit-content;
    max-width: 80%;
    background-color: #222;
    height: fit-content;
    margin-top: 5px;
    border-radius: 5px;
    flex-shrink: 0;
    padding: 10px 2% 10px 2%;
    font-size: 2.4em;
    border: 1px #333333 solid;
}

.chatright{
    align-self: flex-end;
    background-color: #180e21;
}

#chat_action{
    width: 100%;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.chat_action{
    width: 44%;
    height: 45%;
    margin-bottom: 2px;
    border-radius: 5px;
    padding: 0 1% 0 1%;
    background-color: #363b4e;
    border: 1px #333333 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.1em;
    text-align: center;
    cursor: pointer;
}
.chat_action:hover{
    background-color: rgb(2, 31, 59);
}

#phonebutton{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00000066;
}
#phonebutton ion-icon{
    font-size: 3em;
    color: #000;
    cursor: pointer;
}
#phonebuttonhome{
    width: 30px;
    height: 30px;
    background: #000;
    border: 2px #eee solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
@keyframes glow {
    0%{border-color: #28729b;}
    10%{border-color: #2034ea;}
    20%{border-color: #28729b;}
    30%{border-color: #03a1a1;}
    40%{border-color: #28729b;}
    50%{border-color: #2034ea;}
    60%{border-color: #28729b;}
    70%{border-color: #03a1a1;}
    80%{border-color: #28729b;}
    90%{border-color: #2034ea;}
    100%{border-color: #28729b;}
    
}



#portfolio{
    width: 94%;
    height: fit-content;
    padding: 5vh 3% 5vh 3%;
    background: url(images/portfolio.webp) no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.portfolio_display{
    position: relative;
    width: 30%;
    min-width: 350px;
    height: 220px;
    background-color: #222;
    border-radius: 1vw;
    border: 1px #555 solid;
    overflow: hidden;
    margin-bottom: 30px;
}
.portfolio_display .left{
    position: absolute;
    top: calc(50% - 10px); left: calc(0% - 10px);
    width: 30px; height: 30px;
    background-color: #00000099;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    cursor: pointer;
}
.portfolio_display .right{
    position: absolute;
    top: calc(50% - 10px); right: calc(0% - 10px);
    width: 30px; height: 30px;
    background-color: #00000099;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    cursor: pointer;
}
@media (max-width: 750px) {
    #welcome{
        flex-direction: column;
        height: fit-content;
    }
    #dialouge{
        width: 100%;
        height: fit-content;
        min-height: 50vh;
    }  
    #chat{
        width: 100%;
        padding: 0;
        justify-content: center;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
    #chatapp{
        height: 80vh;
    }
    t{
        display: none
    }
    #links a{
        font-size: 2.4em;
    }
}

@media (max-width: 550px) {
    #links{
        display: none;
    }
    #dialouge1{
        font-size: 3.8em;
    }
    #dialouge2{
        font-size: 2.2em;
    }
    .mobile-hide{
        display: none;
    }
}
@media (max-height: 400px) {
    
    #chat{
        min-height: 550px;
    }
    #dialouge1{
        font-size: 3.8em;
    }
    #dialouge2{
        font-size: 2.2em;
    }
    
    .mobile-hide{
        display: none;
    }
}