*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    background-color: rgb(69, 67, 67);
}
/*Navbar*/
#nav{
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 4vh;
    background-color: black;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 2vw 2vw 2vw 0vw;
    z-index: 4;
}
    /*Nav anchor element*/
    nav a{
        color:white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2vw;
        text-decoration: none;
        margin-right:4vw;
        padding: 0.1vh;
    }
        nav a:hover{
        color: salmon;
        text-decoration: none;
        }



/*Welcome Section*/
#Welcome{
    position: relative;
    height: 100vh;
    width: 100vw;
    color: white;
    top: 4vh;
    left: -1vw;
    display: flex;
    background:url(https://img.freepik.com/free-photo/couple-love-walks-stars-silhouette-lovers-couple-who-are-enjoying-their-time-together-night-starry-sky-starry-sky-night-walk-man-woman-traveling-wedding-travel_135372-4.jpg?w=740);
    background-size: 100% 100%;
    box-shadow: 0.5vw 0.5vw 0.5vw black;
    z-index: 1;
}
    /*The part that contains my name*/
    #info{
        height: 98%;
        width: 40%;
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

        #con{
            width: fit-content;
            height: fit-content;
            display: flex;
        }   

            #name{
                background-color: black;
                padding:1vw;
                font-size: 3vw;
                box-shadow: -1vw -1vw 1.1vw black;
                border: black solid 0.1vw;
                font-family: Bradley Hand ITC;
            }    

            /*animation for the webdeveloper text*/
            #webdev{
                background-color: black;
                color: salmon;
                font-size: 3vw;
                font-weight: 800;
                font-family: Kristen ITC;
                box-shadow: -0.08em -0.1em 0.1em black;
                animation-name: dev;
                animation-duration: 6s;
                animation-iteration-count: 1;
                padding:1vw;
                box-shadow: -1vw -1vw 1.1vw black;
                border: white solid 0.05vw;
                border-bottom: none;
            }
            
            @keyframes dev {
                0% { 
                transform: rotate(0); 
                transform-origin: top left; 
                animation-timing-function: ease-in-out; 
                }
                20%, 60% { 
                transform: rotate(80deg); 
                transform-origin: top left; 
                animation-timing-function: ease-in-out; 
                }
                40% { 
                transform: rotate(60deg); 
                transform-origin: top left; 
                animation-timing-function: ease-in-out; 
                }
                80% { 
                transform: rotate(60deg) translateY(0); 
                opacity: 1; 
                transform-origin: top left; 
                animation-timing-function: ease-in-out; 
                }
                100% { 
                transform: translateY(700px); 
                opacity: 0.1; 
                } 
            } 

        #myskills{
            position: relative;
            height: 20%;
            width: 90%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            box-shadow: -1vw -1vw 1.1vw black;
            border: white solid 0.1vw;
            border-top: none;
        }
            #jslogo{
                background: url(images/jsimage.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            #relogo{
                background: url(images/react.jpg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            
         

        

    /*The part that contains the projects*/     
    #projects{
        height: 98vh;
        width:55%;
        display: grid;
        grid-template-rows: 10% 58% 32%;
        grid-gap: 0.5vw;
        border-color:black;border-style: solid;border-width: 0.2vw;
        box-shadow: -0.5vw 0.5vw 0.5vw black;
        margin-left: 4%;
    }
        /*Grid space for the projects*/
        #tiles{
            width: 56%;
            padding-top: 5vh;
            background-color: rgba(250, 255, 255,0.2);
            padding-bottom: -5vh;
            margin-left:13vw;
            margin-right:13vw;
            overflow-y:scroll;
            overflow-x: hidden;
            box-shadow: -.3vw -0.3vw 0.3vw black,-0.3vw 0.3vw 0.3vw black;
        }
        ::-webkit-scrollbar {
            width: 1vw;
          }
          
          /* Track */
           ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey; 
            border-radius: 10px;
            background: black ;
        }
           
          /* Handle */
          ::-webkit-scrollbar-thumb {
            background: linear-gradient(90deg,white,white,gray,black) ;
            border-radius: 10px;
          }
          
          /* Handle on hover */
          ::-webkit-scrollbar-thumb:hover {
            background: #b30000; 
          }
        /*The projects.*/
        .protiles{
            background: linear-gradient(35deg, rgb(7, 7, 250),rgb(7, 7, 20));
            box-shadow: 0.2vw 0.2vw 0.2vw black;
            border-width: 0.1vw;
            width: 30vw;
            height: 35vh;
            margin-bottom: 2vw;
            display: flex;
            align-items:flex-end;
            justify-content: center;
            font-size: 1.5vw;
        }
            #keyboard{
                background: url(images/keyboard.JPG);
                background-size: 100% 100%;
            }
            #quotes{
                background: url(images/quotes.JPG);
                background-size: 100% 100%;
            }
            #rockpaperscissors{
                background: url(images/rockpapersicssors.JPG);
                background-size: 100% 100%;
            }
            #ballandpaddle{
                background: url(images/ballandpaddle.png);
                background-size: 100% 100%;
            }
            #memoryGame{
                background: url(images/memory.JPG);
                background-size: 100% 100%;
            }
            @media(max-width:550px){
                .protiles{height: 15vh;}
                #projects{height: 73vh}
                /* #name{font-size: 2vw;}
                #webdev{font-size: 2vw;} */
                #myskills{
                    height: 15%;
                }
                #Welcome{
                    height: 75vh;
                }
            }
            @media(max-width:300px){
                .protiles{height: 8vh;}
                #projects{height: 48vh}
                /* #name{font-size: 2vw;}
                #webdev{font-size: 2vw;} */
                #myskills{
                    height: 8%;
                }
                #Welcome{
                    height: 50vh;
                }
                #resume{
                    height: 20vh;
                }
                #resume h3{
                    font-size: 4vw;
                }
            }
           



/*Skills section*/
#skills{
    position: relative;
    width: 101vw;
    min-height: 65vh;
    background-color: rgb(103, 102, 102);
    background-size: 100% 100%;
    background-attachment:fixed;
    left: -1vw;
    padding-top: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    #aboutme{
        position: fixed;
        top: 30vh;
        left: 10vw;
        width: 55vw;
        height: 40vh;
        border-width: 0.1vw;
        border-style: solid;
        border-color: black;
        background: linear-gradient(rgb(5, 5, 16),rgb(3, 3, 126),rgb(2, 2, 58),rgb(7, 7, 20));
        text-align: center;
        margin-right: 3vw;
        opacity: 0.9;
        overflow-y: scroll;
        padding: 1vw;
        border-radius: 00.5vw;
        box-shadow: -1vw 2.5vw 1.5vw black;
    }
        #aboutme p{
            font-family:Candara Light;
            font-weight: 700;
            font-size: 16px;
            color:white;
        }


    #resume{
       position: fixed;
       top: 30vh;
       right : 10vw;
       width: 20vw;
       height: 40vh;
       border-width: 0.1vw;
       border-style: solid;
       border-color: black;
       background: url(images/resume.JPG);
       background-size: 100% 100%;
       display: flex;
       align-items: flex-end;
       text-align: center;
       justify-content: center;
       color:white;
       font-weight: 700;
       font-size: 2vw;
       box-shadow: -1.5vw 2.5vw 1.5vw black;
       opacity: 0.7;
    }


/*THE CONTACT SECTION*/    

#contact{
    position: relative;
    width: 100%;
    left:0;
    height: 100vh;
    color : black;
    background: url(images/space\ lab.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    box-shadow: -0.5vw -0.7vw 1vw black;
    z-index: 6;
    padding-top: 4vh;
}

#items{
    width: 70vw;
    height: 80vh;
    text-align: center;
    margin: auto;
    background: linear-gradient(35deg, rgba(0, 0, 242,0.7),rgba(3, 3, 138,0.7),rgba(1, 1, 71,0.7));
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
}



    #h4{
        font-size: 6vw;
        font-family:Kristen ITC;
        color : white;
    }

    #aboutsocials{
        color:white;
        font-family: Bradley Hand ITC;
        font-size: 3vw;
        font-weight: 550;
    }

    .socials{
        position: absolute;
        width : 20vw;
        height : 40vh;
        border-radius: 2vw;
        bottom: 15.5vh;
        border-width: 0.3vw;
        border-style: solid;
        filter: blur(0.05vw);
        font-size: 0px;
    }
    #so{
        display: flex;
        flex-direction: row;
    }
        #linkedin{
            background:url(images/linkedin.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            z-index: 9;
        }

        #twitter{
            background:url(images/twitter2.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            left: 28vw;
            z-index: 10;
        }
        #gmail{
            background:url(images/gmail.jpg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            left: 40vw;
            z-index: 11;
        }
        #freecode{
            background:url(images/fcc.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            left: 53.5vw;
            z-index: 12;
        }
        #github{
            background:url(images/GitHub.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            left: 65.5vw;
            z-index: 13;
        }
        #freecode:hover{
            z-index: 14;
        }
        #gmail:hover{
            z-index: 14;
        }
        #twitter:hover{
            z-index: 14;
        }
        #linkedin:hover{
            z-index: 14;
        }
        #github:hover{
            z-index: 14;
        }
        
        @media(max-width:550px){
            .socials{
                height: 25vh;
                bottom: 25vh;
            }
            #items{
                height: 60vh;
            }
            #contact{
                height:80vh
            }
        }
        @media(max-width:300px){
            .socials{
                height: 15vh;
                bottom: 15vh;
            }
            #items{
                height: 35vh;
            }
            #contact{
                height:50vh
            }
        }