#hero{
    width: 90%;
    padding: 150px 5% 100px 5%;
    max-width: 600px;
    margin: 0 auto;
}
#hero h1{
    font-size: 10em;
    margin-bottom: 20px;
}
#hero h1 span{
    color: var(--at-bg);
}

#hero p{
    width: 80%;
    font-size: 3.5em;
    line-height: 160%;
    font-family: var(--sans);
    margin-bottom: 30px;
}
#hero .actionButton{
    font-size: 2.7em;
}
@media (max-width: 600px) {
    #hero{
        padding-top: 100px;
    }
    #hero h1{
        width: 80%;
    }

}

#skills{
    width: 90%;
    padding: 50px 5% 0px 5%;
    max-width: 650px;
    margin: 0 auto;
}

#skills h2{
    font-size: 2.5em;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 20px;
}
#skills h2 span{
    color: var(--at-bg);
}

.skillsG{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skill{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}
.skill svg{
    width: 45px;
    height: 45px;
    margin-bottom: 5px;
}
.skill p{
    font-size: 2.5em;
    font-weight: 600;
}
.skillsG2{
    display: none;
}
.skillsG:hover .skillsG2{
    display: flex;
}


#projects{
    width: 90%;
    padding: 100px 5%;
    max-width: 1200px;
    margin: 0 auto;
}
#ph{
    font-size: 6em;
    text-align: center;
    margin-bottom: 50px;
}

#projectsG{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.project{
    width: 26%;
    min-height: 230px;
    padding: 20px 2%;
    box-shadow: 0px 0px 13px 3px var(--border);
    border-radius: 8px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.project .img{
    width: 200px;
    aspect-ratio: 16/9;
    overflow: hidden;
}
.project .img img{
    object-fit: contain;
}
.project header{
    font-size: 3em;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
}
.project p{
    margin-top: 10px;
    font-size: 2.5em;
    line-height: 160%;
    text-align: center;
    display: none;
}
.project .skillsG{
    margin-top: auto;
}
.project .skill svg{
    width: 30px;
    height: 30px;
    margin-bottom: 3px;
}
.project .skill p{
    margin: 0;
    font-size: 2em;
    display: block;
}


/* 
#projectsG .project:nth-child(even){
    background-color: #181717;
    color: #fff;
    box-shadow: 0px 0px 13px 3px #555;
} */

.project_popup{
    width: 90%;
    max-width: 900px;
    height: 80vh;
    max-height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    z-index: 2;
    background-color: var(--ma-bg);
    box-shadow: 0px 0px 10px 10px var(--border);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}
.ppImg{
    width: 250px;
    padding: 0 25px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.ppImg img{
    object-fit: contain;
}
.ppCon{
    width: 80%;
    padding: 3% 10%;
    height: 94%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ppCon header{
    margin-bottom: 20px;
    font-size: 4em;
    font-weight: 600;
}
.ppCon p{
    font-size: 3em;
    line-height: 160%;
    margin-bottom: 20px;
}
@media (max-width: 800px) {
    .project_popup{
        flex-wrap: wrap;
        height: fit-content;
        padding: 30px 0;
    }
    .ppImg{
        width: 80%;
        height: fit-content;
        min-height: 30%;
        padding: 10px 10%;
    }
    .ppImg img{
        width: 150px;
        aspect-ratio: 16/9;
    }
    .ppCon{
        height: fit-content;
    }
}
@media (max-width: 650px) {
    .ppCon{
        align-items: center;
    }
    .ppCon header{
        font-size: 3.4em;
        margin: 30px 0 20px 0;
    }
    .ppCon p{
        font-size: 2.8em;
    }
}

.project_popup_close{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--border);
    opacity: 0.9;
    z-index: 1;
}

@media (max-width: 1050px) {
    #projects{
        width: 80%;
        padding: 100px 10%;
    }
    .project{
        width: 43%;
        
    }
}

@media (max-width: 700px) {
    #projects{
        width: 96%;
        padding: 100px 2%;
    }
    .project{
        min-height: fit-content;
    }
    .project .skillsG{
        margin-top: 25px;
    }
    .project .img{
        width: 80%;
    }
    .project header{
        font-size: 2.6em;
    }
}


#me{
    width: 90vw;
    padding: 30px 5vw 100px 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#me header{
    font-size: 6em;
    margin-bottom: 150px;
    font-weight: 400;
    text-align: center;
}


#meImg{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}
#meImg .img{
    width: 45%;
    max-width: 500px;
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    transition: .2s;
    margin-bottom: 15px;
}

#meImg .img:hover{
    border: 4px var(--at-bg) solid;
}

#meImg .img svg{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 10px;
    right: 10px;
}

@media (max-width: 750px) {
    #meImg .img{
        width: 100%;
    }
}

#fks{
    margin: 30px;
    font-size: 3em;
    min-width: 30%;
    padding: 12px 20px;
}




#upto{
    width: 90%;
    padding: 0px 5% 150px 5%;
    display: flex;
    justify-content: center;
}
.uImg{
    width: 45%;
    display: flex;
    justify-content: center;
}
.uImg img{
    max-width: 500px;
    object-fit: contain;
    border-radius: 10px;
}
.utext{
    width: 45%;
    padding: 50px 10% 20px 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.utext header{
    font-size: 6em;
    font-weight: 100;
    margin-bottom: 18px;
}
.utext p{
    font-size: 3.5em;
    line-height: 160%;
    margin-bottom: 12px;
    /* max-width: 400px; */
}

@media (max-width: 800px) {
    #upto{
        flex-direction: column;
    }
    .uImg{
        width: 100%;
    }
    .utext{
        width: 90%;
        padding: 50px 5%;
    }
    .utext header{
        font-size: 4.3em;
        font-weight: 400;
    }
    .utext p{
        font-size: 3em;
    }
}













#teemboomComments{
    width: 90%;
    padding: 0px 5% 100px 5% ;
    max-width: 700px;
    margin: 0 auto;
}

#tch{
    font-size: 5em;
    font-weight: 400;
    margin-top: 15px;
    text-align: center;
}

#corner{
    position: absolute;
    top: 10vh; right: 0;
    height: 150px;
    padding-right: calc(5px + 1.2%);
}

#corner .item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
#corner .item p{
    font-size: 1.5em;
    font-weight: 700;
    /* writing-mode: vertical-rl;
    text-orientation: upright; */
    text-align: center;
}
#corner .item svg{
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
}


#astronaut, #pirate{
    display: none;
    top: 90%;
    left: 0;
}