#hero{
    width: 90%;
    padding: 150px 5% 100px 5%;
    max-width: 600px;
    margin: 0 auto;
}
#hero h1{
    font-size: 10em;
    margin-bottom: 20px;
}
#hero h1 span{
    color: var(--at-bg);
}

#hero p{
    width: 80%;
    font-size: 3.5em;
    line-height: 160%;
    font-family: var(--sans);
    margin-bottom: 30px;
}
#hero .actionButton{
    font-size: 2.7em;
}
@media (max-width: 600px) {
    #hero{
        padding-top: 100px;
    }

}

#skills{
    width: 90%;
    padding: 50px 5% 0px 5%;
    max-width: 600px;
    margin: 0 auto;
}

#skills h2{
    font-size: 2.5em;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 20px;
}
#skills h2 span{
    color: var(--at-bg);
}

.skillsG{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skill{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}
.skill svg{
    width: 45px;
    height: 45px;
    margin-bottom: 5px;
}
.skill p{
    font-size: 2.5em;
    font-weight: 600;
}
.skillsG2{
    display: none;
}
.skillsG:hover .skillsG2{
    display: flex;
}


#projects{
    width: 90%;
    padding: 100px 5%;
    max-width: 1200px;
    margin: 0 auto;
}
#ph{
    font-size: 6em;
    text-align: center;
    margin-bottom: 50px;
}

#projectsG{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.project{
    width: 26%;
    min-height: 350px;
    padding: 20px 2%;
    box-shadow: 0px 0px 13px 3px #ddd;
    border-radius: 8px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project .img{
    width: 200px;
    aspect-ratio: 16/9;
    overflow: hidden;
}
.project .img img{
    object-fit: contain;
}
.project header{
    font-size: 3em;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
}
.project p{
    margin-top: 10px;
    font-size: 2.5em;
    line-height: 160%;
    text-align: center;
}
.project .skillsG{
    margin-top: auto;
}
.project .skill svg{
    width: 30px;
    height: 30px;
    margin-bottom: 3px;
}
.project .skill p{
    margin: 0;
    font-size: 2em;
}

/* 
#projectsG .project:nth-child(even){
    background-color: #181717;
    color: #fff;
    box-shadow: 0px 0px 13px 3px #555;
} */

@media (max-width: 1050px) {
    #projects{
        width: 80%;
        padding: 100px 10%;
    }
    .project{
        width: 43%;
        
    }
}

@media (max-width: 700px) {
    #projects{
        width: 90%;
        padding: 100px 5%;
    }
    .project{
        width: 96%;
        padding: 40px 2%;
        min-height: fit-content;
    }
}

#teemboomComments{
    width: 90%;
    padding: 0px 5% 100px 5% ;
    max-width: 700px;
    margin: 0 auto;
}

#tch{
    font-size: 5em;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
}

footer{
    width: 90vw;
    padding: 100px 5%;
    background-color: rgb(19, 16, 19);
    color: #eee;
}
footer header{
    font-size: 9em;
    text-align: center;
    margin-bottom: 10px;
}
footer header span{
    color: var(--at-bg);
}

footer p{
    font-size: 3.5em;
    margin-bottom: 30px;
    text-align: center;
}

footer i{
    display: block;
    font-size: 3em;
    text-align: center;
}

