---
title: Bio | James Koduah
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head %}
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        {% include nav.html %}
        <h1 id="head"><i>A</i>BOUT <i>M</i>E</h1>
        <div class="text_item">
            I'm a driven full-stack web developer with a passion for tinkering and building business logic. 
            I'm a motivated self-starter, adept at independent work, as evidenced by my self-taught and remote learning achievements. 
            With a strong educational background in software engineering from ALX Africa, a Front End Development Certification from FreeCodeCamp 
            and an impressive collection of website bookmarks, I'm equipped with a solid foundation in programming languages, application architecture, 
            and the requisite soft-skills.
            <br><br>
            Throughout my journey, I've developed a range of technical skills, from proficiency in C, Python, Node.js, and JavaScript to expertise 
            in Git, Nginx, Redis, and MongoDB. I've also honed my soft skills, including technical writing, project collaboration, whiteboarding, and product presentation.
            <br><br>
            I can also be described as a go getter, taking the initiative and putting in the effort to learn whatever skills our project 
            needs to be a success. This might seem generic but I've come to appreciate how building an application involves encountering 
            unpredicted roadblocks, finding solutions and implementing these solutions as quickly as possible.
            <br><br>
            With experience in developing business websites, crafting contracts, and providing exceptional customer service, 
            I'm confident in my ability to contribute to your team and drive meaningful outcomes.
            <br><br>
            P.S. Where do you see yourself in the next 5 years?
            <br>
            I see myself as a valuable software engineer that has the ability to take charge of a project and deliver working and efficient software. To get to this stage I will need to expand my technical depth, leadership skills and take a keen interest and ownership of my work.
        </div>
    </main>    
</body>
</html>