---
title: Bio | James Koduah
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head %}
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        {% include nav.html %}
        <h1><i>R</i>EACH <i>O</i>UT <i>T</i>O <i>M</i>E</h1>
        <h2>Let's Talk!</h2>
        <div id="info">
            <div class="item">
                <div class="item_img">
                    <img src="/images/gmail_icon.png" alt="">
                </div>
                <div class="item_body">
                    <header>Email</header>
                    <p>jameskoduah171@gmail.com</p>
                </div>
            </div>
            <div class="item">
                <div class="item_img">
                    <img src="/images/x_icon.png" alt="">
                </div>
                <a target="_blank" href="https://x.com/KkdJames" class="item_body">
                    <header>X</header>
                    <p>https://x.com/KkdJames</p>
                </a>
            </div>
            <a target="_blank" href="https://wa.me/+233202191728" class="item">
                <div class="item_img">
                    <img src="/images/whatsapp_icon.png" alt="">
                </div>
                <div class="item_body">
                    <header>WhatsApp</header>
                    <p>+233202191728</p>
                </div>
            </a>
            
            <a target="_blank" href="https://www.linkedin.com/in/james-koduah/" class="item">
                <div class="item_img">
                    <img src="/images/linkedin_icon.png" alt="">
                </div>
                <div class="item_body">
                    <header>Linkedin</header>
                    <p>https://www.linkedin.com/in/james-koduah/</p>
                </div>
            </a>
            <a target="_blank" href="https://github.com/James-koduah" class="item">
                <div class="item_img">
                    <img src="/images/github_logo.webp" alt="">
                </div>
                <div class="item_body">
                    <header>Github</header>
                    <p>https://github.com/James-koduah</p>
                </div>
            </a>
        </div>
    </main>    
</body>
</html>