<nav id='top_nav'>
	<a id='top_nav_logo' href='/'>
        {% include svg.html id="hat" %}
        <p>James <span>Koduah</span></p>
    </a>
	<ul id='top_nav_main'>
        {% for item in site.data.nav %}
        {% if page.url != item.link %}
		<li class='mobileNeg'><a href="{{item.link}}">{% include svg.html id=item.svg %} {{item.name}}</a></li>
		{% endif %}
		{% endfor %}
		<li class="mobile" id="navMobileBtn" onclick="mobileNavDropdown(this)"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 6H20M4 12H20M4 18H20" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></li>
	</ul>
	<ul id="top_nav_dropdown">
        {% for item in site.data.nav %}
        {% if page.url != item.link %}
		<li><a href="{{item.link}}">{% include svg.html id=item.svg %} {{item.name}}</a></li>
		{% endif %}
		{% endfor %}
		<div class="navSettings">
            <div class="navSettingsItem">
                <p>GHANA</p>
                {% include svg.html id="ghana" %}
            </div>
            <div class="navSettingsItem" onclick="lightDark()">
                <p>Dark Mode</p>
                {% include svg.html id="daynight" %}
            </div>
            <a class="navSettingsItem" target="_blank" href="https://www.linkedin.com/in/james-koduah/">
                <p>LinkedIn</p>
                {% include svg.html id="linkedin" %}
            </a>
            <a class="navSettingsItem" target="_blank" href="https://github.com/James-koduah">
                <p>GitHub</p>
                {% include svg.html id="github" %}
            </a>
        </div>
	</ul>
</nav>