#hero{
    width: 90%;
    padding: 70px 5% 100px 5%;
    max-width: 600px;
    margin: 0 auto;
}
#hero h1{
    font-size: 15em;
    margin-bottom: 10px;
    color: var(--at-bg);
    display: flex;
    align-items: center;
}
#hero h1 img{
    width: 35px;
    height: 35px;
    margin-left: 7px;
}
#hero h2{
    font-size: 6em;
    margin-bottom: 10px;
}
#hero h3{
    font-size: 4em;
    margin-bottom: 10px;
}
#hero h4{
    font-size: 2.5em;
    margin-bottom: 10px;
}
#hero h5{
    font-size: 2em;
    /* color: #555; */
}
#hero p{
    width: 80%;
    font-size: 3.5em;
    line-height: 160%;
    font-family: var(--sans);
    margin-bottom: 30px;
}
#hero .actionButton{
    font-size: 2.7em;
}
@media (max-width: 600px) {
    #hero{
        padding-top: 100px;
    }

}

#bh{
    font-size: 4em;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}
#bh span{
    font-size: 150%;
}
#bh i{
    font-weight: 900;
}




.cont{
    width: 94%;
    padding: 0 3%;
    margin-bottom: 100px;
}

.blogGroup{
    width: 100%;
    margin-top: 60px;
    overflow: hidden;
}
.blogGroup_header{
    font-size: 4.9em;
    margin-bottom: 15px;
    box-shadow: 0px 1px 1px 1px #00000011;
    border-radius: 8px;
    padding: 8px 2%;
}

.groupSlide{
    width: 100%;
    height: fit-content;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px 2% 20px 2%;
}
.groupSlide::-webkit-scrollbar{
    height: 5px;
}
.groupSlide::-webkit-scrollbar-track{
    background: #000;
}
.groupSlide::-webkit-scrollbar-thumb{
    background: #888;
}

.blog{
    width: 300px;
    min-height: 300px;
    margin-right: 40px;
    flex-shrink: 0;
}
.blog_img{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    border: 1px var(--at-bg) solid;
    overflow: hidden;
}
.blog_text{
    width: 100%;
    padding: 10px 0;
}
.blog_text header{
    font-size: 2.9em;
    font-weight: 600;
    margin-bottom: 8px;
}

.blog_text p{
    font-size: 2.8em;
    margin-bottom: 10px;
}

@media (max-width: 650px) {
    .blog{
        width: 80%;
    }
}



































/* 




#blogs{
    width: 80%;
    padding: 0px 10% 100px 10%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}
.blog{
    width: 30%;
    height: fit-content;
    margin-top: 60px;
}
.blog_img{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    border: 1px var(--at-bg) solid;
    overflow: hidden;
}
.blog_text{
    width: 100%;
    padding: 10px 0;
}
.blog_text header{
    font-size: 2.9em;
    font-weight: 600;
    margin-bottom: 8px;
}

.blog_text p{
    font-size: 2.8em;
    margin-bottom: 10px;
}


@media (max-width: 800px) {
    main{
        width: 85vw;
        padding: 20px 3vw 100px;
        margin: 0 auto;
    }
    .blog{
        width: 48%;
    }
}
@media (max-width: 600px) {
    .blog{
        width: 100%;
    }
} */