@import url('https://fonts.googleapis.com/css?family=Cabin');

*{
    padding: 0;
    margin: 0;
}

:root{
    --ma-bg: #fff;
    --at-bg: #870bb1;
    --border: #eee;
    --soft-bg: #8402af22;
    --text-color: #333;
    --sans: "Cabin", Oscine, sans-serif;
    --cabin-ver: "Cabin", Verdana, Geneva, Tahoma, sans-serif;
    --cabin-sans: "Cabin", Oscine, sans-serif;
    font-size: 5px;
}

body{
    width: 100vw;
    background-color: var(--ma-bg);
    color: var(--text-color);
    font-family: var(---sefif);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-track{
    background: #000;
}
body::-webkit-scrollbar-thumb{
    background: var(--ma-bg);
}

input:focus, textarea:focus{
    outline: none;
}
button{
    cursor: pointer;
    background: inherit;
    border: none;
}


a{
    text-decoration: none;
    color: inherit;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.actionButton{
    position: relative;
    padding: 10px 20px;
    font-size: 2.3em;
    border-radius: 5px;
    font-weight: 600;
    transition: .1s;
    color: var(--at-bg);
    border: 1px var(--at-bg) solid;
}
.actionButton:hover{
    transform: rotate(-8deg);
    padding-left: 5px;
    padding-right: 35px;
}


main{
    width: 100vw;
    height: fit-content;
    padding-top: 40px;
}







#top_nav{
	position: fixed;
	top: 0px;
	width: calc(100vw - 10px);
	padding: 5px;
	/* border-bottom: 1px var(--border) solid; */
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--ma-bg);
	z-index: 100;
}


#top_nav_logo{
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 4.5em;
	font-weight: 600;
	margin-left: 1%;
}

#top_nav_logo p span{
	color: var(--at-bg)
}
#top_nav_logo img{
	height: 28px;
	width: auto;
	object-fit: contain;
	margin-right: 3px;
}
#top_nav_logo svg{
	width: 35px;
	height: 35px;
	margin-right: 2px;
}


#top_nav_main{
	height: 100%;
	width: fit-content;
	display: flex;
	margin-right: 1%;
}

#top_nav_main li{
	margin-right: 10px;
	list-style: none;
	font-size: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#top_nav_main li a{
	height: 100%;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 3em;
}
#top_nav_main li svg{
	width: 25px;
	height: 25px;
	cursor: pointer;
}


.top_nav_main_button{
	height: 100%;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
        align-items: center;
	font-size: 2.7em;
	font-weight: 900;
	background: var(--teemboom);
	color: #fff;
	border-radius: 10px;
	flex-shrink: 0;
}


#top_nav_dropdown{
	position: absolute;
	top: 100%;
	left: 0;
	width: 80%;
	min-height: 60px;
	background: var(--ma-bg);
	border-bottom: 6px var(--border) solid;
	display: none;
	transition: .8s;
	padding: 0 10% 40px 10%;
}

#top_nav_dropdown li{
	list-style: none;
	font-size: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#top_nav_dropdown li a{
	width: 100%;
	padding: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5em;
	font-weight: 900;
}
#top_nav_dropdown li svg{
	width: 25px;
	height: 25px;
	cursor: pointer;
}







.mobile{
	display: none !important;
}

@media (max-width: 600px) {
	.mobileNeg{
		display: none !important;
	}
	.mobile{
		display: flex !important;
	}
	.dropActive{
		display: block !important;
	}
}