main{
    width: 80%;
    padding: 60px 10% 140px 10%;
    font-family: var(--cabin-sans);
}

#main_img{
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 40px;
}
#content{
    max-width: 900px;
    margin: 0 auto;
}
#content h1 {
    font-size: 8em; /* 40px */
    margin-bottom: 20px;
}

#content h2 {
    font-size: 4em; /* 20px */
    margin-bottom: 18px;
}

#content h3 {
    font-size: 3em; /* 15px */
    margin-bottom: 16px;
}

#content h4 {
    font-size: 2.5em; /* 12.5px */
    margin-bottom: 14px;
}

#content h5 {
    font-size: 2em; /* 10px */
    margin-bottom: 12px;
}

#content h6 {
    font-size: 1.5em; /* 7.5px */
    margin-bottom: 10px;
}

/* Styles for paragraphs */
#content p {
    font-size: 3.3em; /* 12.5px */
    margin-bottom: 10px; /* Space between paragraphs */
    line-height: 160%;
}

#teemboom_comments{
    margin-top: 40px;
}