<!DOCTYPE html>
<html lang="en">
<head>
    {% include head %}
    <link rel="stylesheet" href="/blogs/blog/style.css">
    <script src="/blogs/blog/app.js"></script>
    <script src="https://scripts.teemboom.com/teemboom_comments.js"></script>
</head>
<body>
    {% include nav.html %}
    <main>
        <div id="main_img"><img src="/images/blogs/{{page.img}}" alt=""></div>
        <div id="content">
            {{content}}
	</div>
	<section id="teemboom_comments"></section>
    </main>
    
    <div id="corner">
        <div class="item" onclick="lightDark()">
            <p>Dark Mode</p>
            {% include svg.html id="daynight" %}
        </div>
    </div>
    {% include footer.html %}
</body>
</html>
