<!DOCTYPE html>
<html lang="en">
<head>
    {% include head %}
    <link rel="stylesheet" href="/blogs/blog/style.css">
    <script src="/blogs/blog/app.js"></script>
    <script src='https://teemboom.com/static/app/dist/teemboom.js'></script>
</head>
<body>
    {% include blog_nav.html %}
    <main>
        <div id="main_img"><img src="/images/blogs/{{page.img}}" alt=""></div>
        <div id="content">
            {{content}}
        </div>
        <section id="teemboom_comments"></section>
    </main>
</body>
</html>