main{
    display: flex;
    font-family: var(--cabin-sans);
}


.svgsG{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
}
.svg{
    padding: 10px 20px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}
.svg svg{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}
.svg p{
    font-size: 2.5em !important;
}

#content{
    width: 90%;
    padding: 80px 5%;
    height: 100vh;
    position: relative;
}
.sector{
    margin-bottom: 50px;
}
#content h1{
    font-size: 7em;
    margin-bottom: 20px;
}

#content h2{
    font-size: 5.5em;
    margin-bottom: 10px;
}
#content p{
    font-size: 3.4em;
    line-height: 160%;
}


#side{
    width: 400px;
    background: #333;
    flex-shrink: 0;
}

@media (max-width: 900px) {
    main{
        flex-wrap: wrap;
    }
    #side{
        width: 100%;
    }
}




#corner{
    position: absolute;
    top: 10vh; right: 0;
    height: 150px;
    padding-right: calc(5px + 1.2%);
}

#corner .item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
#corner .item p{
    font-size: 1.5em;
    font-weight: 700;
    /* writing-mode: vertical-rl;
    text-orientation: upright; */
    text-align: center;
}
#corner .item svg{
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
}
@media (max-width: 650px) {
    #corner{
        display: none;
    }
}